<div>
  <h1>Sign up</h1>

  <form action="#/users" method="post">
    <p>
      <label for="username">Username</label>
      <input type="text" name="username" id="username"/>
    </p>
  
    <p>
      <label for="password">Password</label>
      <input type="password" name="password" id="password"/>
    </p>

    <p>
      <label for="password_confirmation">Password Confirmation</label>
      <input type="password" name="password_confirmation" id="password_confirmation"/>
    </p>
  
    <p>
      <input type="submit" value="Sign Up"/>
    </p>
  
  </form>
</div>