<p>
  <label for="term{{index}}">Term</label>
  <input type="text" name="terms" class="term" id="term{{index}}"/>
  <label for="translation{{index}}">Translation</label>
  <input type="text" name="translations" class="translation" id="translation{{index}}"/>
</p>
