<h1>{{ name }}</h1>

<p>{{ description }}</p>

<form action="#/translations/{{_id}}/completions" method="post">
  <ul>
    {{#terms}}
      <li>
        <label for="translation{{index}}">{{term}}</label>
        <input type="text" name="answers" id="translation{{index}}" class="translation"/>
      </li>
    {{/terms}}
  </ul>
  <p><input type="submit" value="Done" id="submit"/></p>
</form>