<a href="#/add_gap">Add Gap</a>

<form action="#/pages" method="post">
  <p>
    <label for="text0">Text</label>
    <input type="text" id="text0"/>
  </p>
  
  <p class="submit"><input type="submit" value="Save"/></p>
</form>