<form action="#/clozes" method="post" id="new_cloze">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name"/>
  </p>
  <p>
    <label for="text">Text</label>
    <textarea id="text" name="text"/>
    <span class="hint">Enter the text, surround the words that should become blanks with angle brackets, e.g. you need to fill in the [blanks].</span>
  </p>
  
  <p class="submit">
    <input type="submit" value="Save"/>
  </p>
</form>